# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
.env
# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.*
!.env.example

public/upload
data.sqlite
