.markdown-content {
  line-height: 1.5rem;



  a{
    color: rgb(132 204 22);
    margin: 0 2px;
    &:hover{
      color: rgb(101 163 13);
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  ol {
    list-style-type: decimal;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  code {
    background-color: rgb(190 242 100);
    color:white;
    padding: 0 0.4rem;
    border-radius: .4rem;
  }

  h2, h3, h4, h5, h6 {
    margin: 1rem 0;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.2rem;
  }

}
